<!-- Modal dialogs -->
<%- include('../partials/modals'); -%>

<!-- Footer -->
	<footer id="footer" class="">
		<div class="container">
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-2 text-center">
					<p>League Wizard - an office league app</p>
					<p>2020 &copy Gabor Meszaros</p>
				</div>
			</div>	
		</div>
	</footer>
<!-- ./Footer -->
  
  
  <script type="text/javascript" src="/jquery/jquery.min.js" nonce="<%=nonce%>"></script>
	<script type="text/javascript" src="/popper/umd/popper.min.js" nonce="<%=nonce%>"></script>
  <script type="text/javascript" src="/datatables/datatables.min.js" nonce="<%=nonce%>"></script>
  <script type="text/javascript" src="/bootstrap/js/bootstrap.min.js" nonce="<%=nonce%>"></script>
  <script src="/javascript/modals.js" nonce="<%=nonce%>"></script>
  <script type="text/javascript" src="/javascript/scripts.js" nonce="<%=nonce%>"></script>
</body>
</html>