<!-- Delete confirm modal -->

<div class="modal fade" id="deleteConfirmModal" tabindex="-1" role="dialog" aria-labelledby="confirmDeleteModalTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteConfirmModalLongTitle">Delete confirmation</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Are you sure you want to delete the following <span id="modalTipusTxt"></span>?<br />
        <span id="modalItemName"></span>
      </div>
      <div class="modal-footer floaty-card-row">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <span>
                    <form class="d-inline" id="modalDeleteConfirmForm"
                        action="" 
                        method="POST">
                    <button type="submit" class="btn btn-danger" type="submit">Delete</button>
                    </form>
                </span>
                
      </div>
    </div>
  </div>
</div>

<% if (pageType == "teamShow" || pageType == "leagueShow") { %>
<!-- New team / edit team modal -->

<div class="modal fade" id="teamModal" tabindex="-1" role="dialog" aria-labelledby="teamModalTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="teamModalLongTitle">Edit team details</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      
      <form id="teamModalForm" action="" method="POST">
      <input type="hidden" id="teamModalLeagueId" name="league" value="">
      <div class="modal-body">
        <div class="form-row mb-2">
            <label for="teamModalTeamName" class="col-sm-3 col-form-label">Player name</label>
            <div class="col-sm-9">
                <input type="text" class="form-control" id="teamModalTeamName" name="name">
            </div>
        </div>
        <div class="form-row">
            <label for="teamModalTeamFIFA" class="col-sm-3 col-form-label">FIFA Team</label>
            <div class="col-sm-9">
            <input type="text" class="form-control" id="teamModalTeamFIFA" name="footballTeam">
            </div>
        </div>
      </div>
      <div class="modal-footer floaty-card-row">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        <span>
            <button type="submit" class="btn btn-primary" type="submit">Save</button>
        </span>
                
      </div>
      </form>
    </div>
  </div>
</div>

<!-- New match / edit match modal -->

<div class="modal fade" id="matchModal" tabindex="-1" role="dialog" aria-labelledby="matchModalTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="matchModalLongTitle"></h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <% var leagueTeams %>
        <% if (typeof(league) == "undefined" ) { leagueTeams = team.league.teams } else { leagueTeams = league.teams } %>
        <form id="modalMatchForm" action="" method="POST">
        <input type="hidden" id="matchModalLeagueId" name="league" value="">
        <input type="hidden" id="matchModalMatchId" name="matchId" value="">
        <input type="hidden" id="matchModalHomeTeam" name="homeTeam">
        <input type="hidden" id="matchModalAwayTeam" name="awayTeam">
        <div class="modal-body">
            <div class="container-fluid">
                <div class="form-group row mb-2">
                    <div class="col-sm-4 floaty-row-left">
                        <label for="matchModalHomeTeamName" class="col-form-label text-nowrap col-sm-5 mr-2">Home team</label>
                        <select id="matchModalHomeTeamName" class="form-control col-sm-7">
                            <option value="" disabled selected hidden></option>
                            <% leagueTeams.forEach((team) => { %>
                                <option value="<%=team._id%>"><%=team.name%></option>
                            <% }) %>
                        </select>
                    </div>
                    <div class="col-sm-4 floaty-row-left">
                        <label for="matchModalHomeTeamFIFA" class="col-form-label mr-2">as</label>
                        <select id="matchModalHomeTeamFIFA" class="form-control">
                            <option value="" disabled selected hidden></option>
                            <% leagueTeams.forEach((team) => { %>
                                <option value="<%=team._id%>"><%=team.footballTeam%></option>
                            <% }) %>
                        </select>
                    </div>
                    <div class=" col-sm-2 floaty-row-left">
                        <label for="matchModalHomeScore" class="col-form-label mr-2">scored</label>
                        <input id="matchModalHomeScore" name="homeScore" class="form-control" type="number" min="0" max="29" value="">
                    </div>
                </div>
                <div class="form-group row mb-4">
                    <div class="col-sm-4 floaty-row-left">
                        <label for="matchModalAwayTeamName" class="col-form-label text-nowrap col-sm-5 mr-2">Away team</label>
                        <select id="matchModalAwayTeamName" class="form-control col-sm-7">
                            <option value="" disabled selected hidden></option>
                            <% leagueTeams.forEach((team) => { %>
                                <option value="<%=team._id%>"><%=team.name%></option>
                            <% }) %>
                        </select>
                    </div>
                    <div class="col-sm-4 floaty-row-left">
                        <label for="matchModalAwayTeamFIFA" class="col-form-label mr-2">as</label>
                        <select id="matchModalAwayTeamFIFA" class="form-control">
                            <option value="" disabled selected hidden></option>
                            <% leagueTeams.forEach((team) => { %>
                                <option value="<%=team._id%>"><%=team.footballTeam%></option>
                            <% }) %>
                        </select>
                    </div>
                    <div class=" col-sm-2 floaty-row-left">
                        <label for="matchModalAwayScore" class="col-form-label mr-2">scored</label>
                        <input id="matchModalAwayScore" name="awayScore" class="form-control" type="number" min="0" max="29" value="">
                    </div>
                </div>
                <div class="form-group row">
                    <div class="container-fluid floaty-row-center">
                        <label for="matchModalMatchDate" class="col-form-label col-sm-2">Match Date</label>
                        <input type="date" id="matchModalMatchDate" name="date"  class="form-control col-sm-3">
                    </div>
                </div>
            </div>
        
      </div>
      <div class="modal-footer floaty-card-row">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        <span>
            <button type="submit" class="btn btn-primary" type="submit">Save</button>
        </span>
                
      </div>
      </form>
    </div>
  </div>
</div>

<% } %>