  <div class="container-fluid nav-container">
    <div class="container">
    <nav class="navbar navbar-expand-md navbar-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class=""><i class="fas fa-bars"></i></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <!-- Only show this if not logged in -->
        <li class="nav-item active">
          <a class="nav-link" href='/leagues'>Index <span class="sr-only">(current)</span></a>
        </li>
        <!-- Only show this if logged in -->
        <% if (currentUser) {%>
        <li class="nav-item dropdown">
          <!--<a class="nav-link" href='/leagues'>My Leagues <span class="sr-only">(current)</span></a>-->
          <a class="nav-link dropdown-toggle" href="/leagues" id="navbarDropdown1" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            My leagues
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown1">
            <% if (leagues) { leagues.forEach((league) => { %>
              <a class="dropdown-item" href="/leagues/<%=league._id%>"><%=league.name%></a>
            <% })}; %>
          </div>
        </li>
        <li class="nav-item">
          <!-- Delete League Button -->
          <span role="button" class="nav-link" 
              data-toggle="modal" data-target="#leagueModal"
              data-purpose="new">
                  Create new league
          </span>
        </li>
        <% } %>
      </ul>
      <ul class="navbar-nav ml-auto nav-flex-icons">
        <% if (currentUser) {%>
        <!-- Only show this if logged in -->
          <li class="nav-item">
            <span class="navbar-text">
              Logged in as: <%=currentUser.playerName%>
            </span>
          </li>
          <li class="nav-item">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-list-4" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
          </li>
          <div class="collapse navbar-collapse" id="navbar-list-4">
            <ul class="navbar-nav">
                <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <i class="fas fa-user-circle"></i>
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                  <a class="dropdown-item" href="/leagues">Dashboard</a>
                  <a class="dropdown-item" href="/users/<%=currentUser._id%>">My Profile</a>
                  <a class="dropdown-item" href="/logout">Log Out</a>
                </div>
              </li>   
            </ul>
          </div>
        <% } else { %>
          <li class="nav-item">
            <a class="nav-link btn btn-outline-secondary btn-sm" href="/login">Log in</a>
          </li>
        <% }%>
      </ul>
    </div>
  </nav>
  </div>
  </div>
  
  <script src="/javascript/navbar.js" nonce="<%=nonce%>" defer></script>