<%- include('partials/header'); -%>
    <h1>Edit team</h1>
    <%= team %>
    <form id="editTeamForm" action="/leagues/<%=team.league%>/teams/<%=team._id%>?_method=PUT" method="POST">
        <input type="hidden" id="leagueId" name="league" value="<%=team.league%>">
        <div>
            <label for="teamName">Player name</label>
            <input type="text" id="teamName" name="name" value="<%=team.name%>">
        </div>
        <div>
            <label for="teamFIFA">FIFA Team</label>
            <input type="text" id="teamFIFA" name="footballTeam" value="<%=team.footballTeam%>">
        </div>
        <button>Submit</button>
    </form>
    
<%- include('partials/footer'); -%>