<%- include('partials/header'); -%>
    <%= match %>
    <h1>Edit match</h1>
    <form id="editMatchForm" action="/leagues/<%=league._id%>/matches?_method=PUT" method="POST">
        <input type="hidden" id="leagueId" name="league" value="<%=league._id%>">
        <input type="hidden" id="matchId" name="matchId" value="<%=match._id%>">
        <div>
            
            <input type="hidden" id="homeTeam" name="homeTeam">
            <label for="homeTeamName">Home Team</label>
            <select id="homeTeamName">
                <option value="" disabled selected hidden></option>
                <% league.teams.forEach((team) => { %>
                    <option value="<%=team._id%>"><%=team.name%></option>
                <% }) %>
            </select>
            <label for="homeTeamFIFA">as</label>
            <select id="homeTeamFIFA">
                <option value="" disabled selected hidden></option>
                <% league.teams.forEach((team) => { %>
                    <option value="<%=team._id%>"><%=team.footballTeam%></option>
                <% }) %>
            </select>
            <label for="homeScore">Score</label>
            <input id="homeScore" name="homeScore" type="number" min="0" max="29" value="<%=match.homeScore%>">
        </div>
        <div>
            <input type="hidden" id="awayTeam" name="awayTeam">
            <label for="awayTeamName">Away Team</label>
            <select id="awayTeamName">
                <option value="" disabled selected hidden></option>
                <% league.teams.forEach((team) => { %>
                    <option value="<%=team._id%>"><%=team.name%></option>
                <% }) %>
            </select>
            <label for="awayTeamFIFA">as</label>
            <select id="awayTeamFIFA">
                <option value="" disabled selected hidden></option>
                <% league.teams.forEach((team) => { %>
                    <option value="<%=team._id%>"><%=team.footballTeam%></option>
                <% }) %>
            </select>
            <label for="awayScore">Score</label>
            <input id="awayScore" name="awayScore" type="number" min="0" max="29" value="<%=match.awayScore%>">
        </div>
        <div>
            <label for="date">Match Date</label>
            <input type="date" id="date" name="date">
        </div>
        <button type="submit">Save</button>
    </form>
    
    <span id="variableJSON" hidden> <%= JSON.stringify(match); %> </span>
    <script src="/javascript/editmatch.js" nonce="<%=nonce%>" defer></script>
<%- include('partials/footer'); -%>