<%- include('partials/header'); -%>
<%- include('partials/navbar'); -%>

    <div class="jumbotron jumbotron-fluid" id="index-jumbotron">
      <div class="container">
        <h1 class="display-4">League Wizard</h1>
      </div>
    </div>
    <div class="container-lg">
        <div class="container">
            <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3">
                <% leagues.forEach((league) => { %>
                <div class="col mb-4">
                    <div class="card league-card">
                      <div class="card-body">
                        <h5 class="card-title"><%=league.name%></h5>
                      </div>
                      <ul class="list-group list-group-flush">
                        <li class="list-group-item"><%= league.teams.length %> teams</li>
                        <li class="list-group-item"><%= league.matches.length %> matches</li>
                      </ul>
                      <div class="card-body floaty-card-row">
                          <div>
                              <a href="/leagues/<%=league._id%>">Details</a>
                          </div>
                          <% if (currentUser) { %>
                            <div>
                              <!-- Delete League Button -->
                              <span role="button" class="btn btn-danger btn-sm ml-2" 
                                  data-toggle="modal" data-target="#deleteConfirmModal"
                                  data-deletetype="league"
                                  data-league="<%=league._id%>"
                                  data-leaguename="<%=league.name%>">
                                      <i class="fas fa-trash-alt"></i>
                              </span>
                            </div>
                          <% } %>
                      </div>
                    </div>
                </div>
                    
                <% }); %>
            </div>
            
        </div>
        <div class="container">
            <pp>
        </div>
        
        
    </div>
    
    <!-- Modal dialogs -->
    <%- include('partials/modals'); -%>
    
    <script src="/javascript/modals.js" nonce="<%=nonce%>" defer></script>
<%- include('partials/footer'); -%>