<%- include('partials/header'); -%>
    <%= league %>
    <h1>Add new team</h1>
    <form id="addTeamForm" action="/leagues/<%=league._id%>/teams" method="POST">
        <input type="hidden" id="leagueId" name="league" value="<%=league._id%>">
        <div>
            <label for="teamName">Player name</label>
            <input type="text" id="teamName" name="name" placeholder="Input team name...">
        </div>
        <div>
            <label for="teamFIFA">FIFA Team</label>
            <input type="text" id="teamFIFA" name="footballTeam" placeholder="Input FIFA team name...">
        </div>
        <button>Submit</button>
    </form>
    
<%- include('partials/footer'); -%>