<%- include('partials/header'); -%>
    <h1>Team details</h1>
    
    <h2>Name</h2>
    <p><%= team.name %></p>
    
    <h2>Team</h2>
    <p><%= team.footballTeam %></p>
    
    <h2>Current position</h2>
    <p><%= team.position %></p>
    
    <h2>Matches played</h2>
    
    <table>
        <thead>
            <tr>
                <th>H/A</th>
                <th>Against</th>
                <th>Team</th>
                <th>Goals for</th>
                <th>Goals against</th>
                <th>Result</th>
                <th>Date</th>
            </tr>
        </thead>
        <tbody>
            <% league.matches.forEach((match) => { %>
                <% if (match.homeTeam.equals(team._id)) { %>
                    <% var opposition = league.teams.filter(function(aTeam){return aTeam._id.equals(match.awayTeam);})[0]; %>
                <tr>
                    <td>H</td>
                    <td><%=opposition.name%></td>
                    <td><%=opposition.footballTeam%></td>
                    <td><%=match.homeScore%></td>
                    <td><%=match.awayScore%></td>
                    <% var result; %>
                    <% if (match.awayScore < match.homeScore) {result = "W"} else if (match.awayScore > match.homeScore) {result = "L"} else {result = "D"} %>
                    <td><%= result %></td>
                    <td><%= moment(match.date).format('YYYY. MM. DD') %></td>
                </tr>
                <% } else if (match.awayTeam.equals(team._id)) { %>
                    <% var opposition = league.teams.filter(function(aTeam){return aTeam._id.equals(match.homeTeam);})[0]; %>
                <tr>
                    <td>A</td>
                    <td><%=opposition.name%></td>
                    <td>Borussia Dortmund</td>
                    <td><%=match.awayScore%></td>
                    <td><%=match.homeScore%></td>
                    <% var result; %>
                    <% if (match.awayScore > match.homeScore) {result = "W"} else if (match.awayScore < match.homeScore) {result = "L"} else {result = "D"} %>
                    <td><%= result %></td>
                    <td><%= moment(match.date).format('YYYY. MM. DD') %></td>
                </tr> 
                <% } %>
            <% }); %>
        </tbody>
    </table>
    <h2>Remaining matches</h2>
    <table>
        <thead>
            <tr>
                <th>Against</th>
                <th>Home</th>
                <th>Away</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>TName</td>
                <td>0</td>
                <td>0</td>
            </tr>
        </tbody>
    </table>
    
    <a href="/leagues/<%=league._id%>">Back to league</a>
    
<%- include('partials/footer'); -%>