<%- include('partials/header'); -%>
    <h1>League standings</h1>
    <div>
        <table id="leagueTable" class="nowrap">
            <thead>
                <tr>
                    <th id="position_header" data-priority="1">Position</th>
                    <th data-priority="1">Name</th>
                    <th data-priority="2">Team</th>
                    <th data-priority="1">Played</th>
                    <th data-priority="1">Won</th>
                    <th data-priority="1">Draw</th>
                    <th data-priority="1">Lost</th>
                    <th data-priority="3">GF</th>
                    <th data-priority="3">GA</th>
                    <th data-priority="1">GD</th>
                    <th data-priority="1">Points</th>
                    <th data-priority="1"></th>
                    <th data-priority="1"></th>
                    <th data-priority="1"></th>
                </tr>
            </thead>
            <tbody>
                <% league.teams.forEach((team) => { %>
                <tr>
                    <td class="leaguePos"></td>
                    <td id="teamName_<%=team._id%>"><%= team.name %></td>
                    <td id="teamFifa_<%=team._id%>"><%= team.footballTeam %></td>
                    <td id="teamPlayed_<%=team._id%>"><%= team.played %></td>
                    <td id="teamWon_<%=team._id%>"><%= team.won %></td>
                    <td id="teamDraw_<%=team._id%>"><%= team.draw %></td>
                    <td id="teamLost_<%=team._id%>"><%= team.lost %></td>
                    <td id="teamGF_<%=team._id%>"><%= team.goalsfor %></td>
                    <td id="teamGA_<%=team._id%>"><%= team.goalsagainst %></td>
                    <td id="teamGD_<%=team._id%>"><%= (team.goalsfor - team.goalsagainst) %></td>
                    <td id="teamPoints_<%=team._id%>"><%= (team.won * 3 + team.draw) %></td>
                    <td>
                        <a href="/leagues/<%=league._id%>/teams/<%=team._id%>">Details</a>
                    </td>
                    <td><a href="/leagues/<%=league._id%>/teams/<%=team._id%>/edit">Edit</a></td>
                    <td>
                        <% var formAction = "/leagues/" + league._id + "/teams/" + team._id + "?_method=DELETE" %>
                        <form id="deleteTeamForm<%=team._id%>" action="<%=formAction%>" method="POST">
                            <button type="Submit">Delete team</button>
                        </form>
                    </td>
                </tr>
                <% }); %>
            </tbody>
        </table>
        
        <p><a href="/leagues/<%= league._id %>/matches/new">Add match</a></p>
        
        <p><a href="/leagues/<%= league._id %>/teams/new">Add team</a></p>
        
        <a href="/">Back to index</a>
        
        <p>
            <% var formAction = "/leagues/" + league._id + "?_method=DELETE" %>
            <form id="deleteLeagueForm" action="<%=formAction%>" method="POST">
                <button type="Submit">Delete league</button>
            </form>
        </p>
    </div>
    
    <div>
        <h2>Show all matches</h2>
        <table>
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Home</th>
                    <th>Score</th>
                    <th>Score</th>
                    <th>Away</th>
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>
                <% league.matches.forEach((match) => { %>
                    <tr>
                        <td><%=moment(match.date).format('YYYY. MM. DD')%></td>
                        <% var result = league.teams.filter((team => team._id.equals(match.homeTeam))); %>
                        <td><%=result[0].name%></td>
                        <td><%=match.homeScore%></td>
                        <td><%=match.awayScore%></td>
                        <% result = league.teams.filter((team => team._id.equals(match.awayTeam))); %>
                        <td><%=result[0].name%></td>
                        <td><a href="">Edit</a></td>
                        <td><button>Delete</button></td>
                    </tr>
                <% }); %>
            </tbody>
        </table>
    </div>
    
    <span id="variableJSON" hidden> <%= JSON.stringify(league); %> </span>
    <script src="/javascript/leaguetable.js" nonce="<%=nonce%>" defer></script>
<%- include('partials/footer'); -%>