<%- include('partials/header'); -%>
    
    <h1>League standings</h1>
    
    <table>
        <thead>
            <tr>
                <th>Position</th>
                <th>Name</th>
                <th>Team</th>
                <th>Played</th>
                <th>Won</th>
                <th>Draw</th>
                <th>Lost</th>
                <th>GD</th>
                <th>Points</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <% league.teams.forEach((team) => { %>
            <tr>
                <td><%= team.position %></td>
                <td><%= team.name %></td>
                <td><%= team.footballTeam %></td>
                <td><%= team.played %></td>
                <td><%= team.won %></td>
                <td><%= team.draw %></td>
                <td><%= team.lost %></td>
                <td><%= (team.goalsfor - team.goalsagainst) %></td>
                <td><%= (team.won * 3 + team.draw) %></td>
                <td><a href="/leagues/<%=league._id%>/teams/<%=team._id%>">Details</a></td>
            </tr>
            <% }); %>
        </tbody>
    </table>
    
    <p><a href="/leagues/<%= league._id %>/matches/new">Add match</a></p>
    
    <p><a href="/leagues/<%= league._id %>/teams/new">Add team</a></p>
    
    <a href="/">Back to index</a>
    
<%- include('partials/footer'); -%>