<%- include('../partials/header'); -%>
<%- include('../partials/navbar'); -%>
    
  <div class="main-content">
    
    <!--CONTENT-->
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" 
            aria-orientation="vertical">
            <a class="nav-link active" id="v-pills-favLeagues-tab" 
              data-toggle="pill" href="#v-pills-favLeagues" role="tab" 
              aria-controls="v-pills-favLeagues" aria-selected="true">
                Favorite leagues
            </a>
            
            <a class="nav-link disabled" id="v-pills-managedLeagues-tab" 
              data-toggle="pill" href="#v-pills-managedLeagues" role="tab" 
              aria-controls="v-pills-managedLeagues" aria-selected="false">
                Managed leagues
            </a>
            <a class="nav-link" id="v-pills-createdLeagues-tab" 
              data-toggle="pill" href="#v-pills-createdLeagues" role="tab" 
              aria-controls="v-pills-createdLeagues" aria-selected="false">
                Owned leagues <span id="queueCounter" class="badge badge-pill badge-danger"></span>
            </a>
            <a class="nav-link" id="v-pills-activeLeagues-tab" 
              data-toggle="pill" href="#v-pills-activeLeagues" role="tab" 
              aria-controls="v-pills-activeLeagues" aria-selected="falsee">
                Active leagues
            </a>
            <a class="nav-link disabled" id="v-pills-messages-tab" 
              data-toggle="pill" href="#v-pills-messages" role="tab" 
              aria-controls="v-pills-messages" aria-selected="false">
                Archive
            </a>
          </div>
        </div>
        <div class="col-md-9">
          <div class="tab-content" id="v-pills-tabContent">
            <div class="tab-pane fade show active" id="v-pills-favLeagues" 
              role="tabpanel" aria-labelledby="v-pills-favLeagues-tab">
              <h2>Favorite leagues</h2>
              <% if (!(currentUser.favoriteLeagues.length > 0)) { %>
                <div class="col mb-4">
                  <div class="card shadow-sm bg-white rounded">
                    <h5 class="mt-4 mb-4 text-center">No favorite leagues</h5>
                  </div>
                </div>
              <% } %>
                <% allLeagues.forEach((league) => { 
                      if (currentUser.favoriteLeagues.includes(league._id)) {
                %>
                <div class="col mb-4">
                  <div class="card shadow-sm bg-white rounded">
                    <div class="card-body">
                      <% if (currentUser.favoriteLeagues.includes(league._id)) { %>
                          <h5 class="card-title">
                            <%= league.name %>
                            <span class="float-right fav-star is-favorite" data-userid="<%= currentUser._id %>" data-leagueid="<%= league._id %>" data-original-title="Remove from favorites" data-toggle="tooltip" data-placement="top">
                              <i class="fas fa-star"></i>
                            </span>
                          </h5>
                        <% } else { %>
                        <h5 class="card-title">
                          <%= league.name %>
                          <span class="float-right fav-star not-favorite" data-userid="<%= currentUser._id %>" data-leagueid="<%= league._id %>" data-original-title="Add to favorites" data-toggle="tooltip" data-placement="top">
                            <i class="far fa-star"></i>
                          </span>
                        </h5>
                        <% } %>
                      <div class="row">
                        <div class="col-lg-3 mb-2 mb-lg-0"><%= league.teams.length  %> teams</div>
                        <div class="col-lg-3 mb-2 mb-lg-0"><%= league.matches.length %> matches</div>
                        <div class="col-lg-6">
                          <span class="float-right">
                            <% if (currentUser._id.equals(league.creator)) { %>
                            <% if (league.matchQueue.length > 0) { %>
                            <span>
                              <span class="badge badge-pill badge-danger" 
                                    data-toggle="tooltip" title="Matches in approval queue">
                                <%= league.matchQueue.length %>
                              </span>
                            </span>
                            <% } %>
                            <a class="btn btn-primary ml-sm-2" href="/league-admin/<%=league._id%>">Admin</a>
                            <% } %>
                            <a class="btn btn-primary ml-sm-2" href="/leagues/<%=league._id%>">Details</a>
                            <% if (currentUser._id.equals(league.creator)) { %>
                            <!-- Delete league button -->
                            <span role="button" class="btn btn-danger btn-sm ml-sm-2" 
                                data-toggle="modal" data-target="#deleteConfirmModal"
                                data-deletetype="league"
                                data-league="<%=league._id%>"
                                data-leaguename="<%=league.name%>">
                                    <i class="fas fa-trash-alt"></i>
                            </span>
                            <% } %>
                          </span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <% 
                      }
                }); %>
            </div>
            <div class="tab-pane fade" id="v-pills-managedLeagues" role="tabpanel" 
            aria-labelledby="v-pills-managedLeagues-tab">
              <h2>Managed leagues</h2>
              <div class="row-cols-1">
                <% myLeagues.forEach((league) => { %>
                <div class="col mb-4">
                  <div class="card shadow-sm bg-white rounded">
                    <div class="card-body">
                      <h5 class="card-title"><%= league.name %></h5>
                      <div class="row">
                        <div class="col-xl-4"><%= league.teams.length %> teams</div>
                        <div class="col-xl-4"><%= league.matches.length %> matches</div>
                        <div class="col-xl-4 floaty-row-center">
                          <a class="btn btn-primary" href="/leagues/<%=league._id%>">Details</a>
                          <a class="btn btn-primary ml-2 disabled" href="">Admin</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <% }); %>
              </div>
                
            </div>
            <div class="tab-pane fade" id="v-pills-createdLeagues" role="tabpanel" 
              aria-labelledby="v-pills-createdLeagues-tab">
              <h2>Owned leagues</h2>
              <div class="row-cols-1">
                <% if (!(myLeagues.length > 0)) { %>
                  <div class="col mb-4">
                    <div class="card shadow-sm bg-white rounded">
                      <h5 class="mt-4 mb-4 text-center">You haven't created any leagues yet</h5>
                    </div>
                  </div>
                <% } %>
                <% myLeagues.forEach((league) => { %>
                <div class="col mb-4">
                  <div class="card shadow-sm bg-white rounded">
                    <div class="card-body">
                      <% if (currentUser.favoriteLeagues.includes(league._id)) { %>
                          <h5 class="card-title">
                            <%= league.name %>
                            <span class="float-right fav-star is-favorite" data-userid="<%= currentUser._id %>" data-leagueid="<%= league._id %>" data-original-title="Remove from favorites" data-toggle="tooltip" data-placement="top">
                              <i class="fas fa-star"></i>
                            </span>
                          </h5>
                        <% } else { %>
                        <h5 class="card-title">
                          <%= league.name %>
                          <span class="float-right fav-star not-favorite" data-userid="<%= currentUser._id %>" data-leagueid="<%= league._id %>" data-original-title="Add to favorites" data-toggle="tooltip" data-placement="top">
                            <i class="far fa-star"></i>
                          </span>
                        </h5>
                        <% } %>
                      <div class="row">
                        <div class="col-lg-3 mb-2 mb-lg-0"><%= league.teams.length %> teams</div>
                        <div class="col-lg-3 mb-2 mb-lg-0"><%= league.matches.length %> matches</div>
                        
                        <div class="col-lg-6">
                          <span class="float-right">
                            <% if (league.matchQueue.length > 0) { %>
                            <span class="badge badge-pill badge-danger leagueQueueCount" 
                                    data-toggle="tooltip" title="Matches in approval queue">
                                <%= league.matchQueue.length %>
                              </span>
                            <% } %>
                            <a class="btn btn-primary ml-sm-2" href="/league-admin/<%=league._id%>">Admin</a>
                            <a class="btn btn-primary ml-sm-2" href="/leagues/<%=league._id%>">Details</a>
                            <!-- Delete league button -->
                            <span role="button" class="btn btn-danger btn-sm ml-sm-2" 
                                data-toggle="modal" data-target="#deleteConfirmModal"
                                data-deletetype="league"
                                data-league="<%=league._id%>"
                                data-leaguename="<%=league.name%>">
                                    <i class="fas fa-trash-alt"></i>
                            </span>
                          </span>
                          
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <% }); %>
              </div>
            </div>
            <div class="tab-pane fade show" id="v-pills-activeLeagues" 
              role="tabpanel" aria-labelledby="v-pills-activeLeagues-tab">
              <h2>Active leagues</h2>
                <% if (!(allLeagues.length > 0)) { %>
                  <div class="col mb-4">
                    <div class="card shadow-sm bg-white rounded">
                      <h5 class="mt-4 mb-4 text-center">Nothing to show here</h5>
                    </div>
                  </div>
                <% } %>
                <% allLeagues.forEach((league) => { %>
                <div class="col mb-4">
                  <div class="card shadow-sm bg-white rounded">
                    <div class="card-body">
                        
                        <% if (currentUser.favoriteLeagues.includes(league._id)) { %>
                          <h5 class="card-title">
                            <%= league.name %>
                            <span class="float-right fav-star is-favorite" data-userid="<%= currentUser._id %>" data-leagueid="<%= league._id %>" data-original-title="Remove from favorites" data-toggle="tooltip" data-placement="top">
                              <i class="fas fa-star"></i>
                            </span>
                          </h5>
                        <% } else { %>
                        <h5 class="card-title">
                          <%= league.name %>
                          <span class="float-right fav-star not-favorite" data-userid="<%= currentUser._id %>" data-leagueid="<%= league._id %>" data-original-title="Add to favorites" data-toggle="tooltip" data-placement="top">
                            <i class="far fa-star"></i>
                          </span>
                        </h5>
                        <% } %>
                      
                      <div class="row">
                        <div class="col-lg-3 mb-2 mb-lg-0"><%= league.teams.length  %> teams</div>
                        <div class="col-lg-3 mb-2 mb-lg-0"><%= league.matches.length %> matches</div>
                        <div class="col-lg-6">
                          <span class="float-right">
                            <% if (currentUser._id.equals(league.creator)) { %>
                            <% if (league.matchQueue.length > 0) { %>
                            <span>
                              <span class="badge badge-pill badge-danger" 
                                    data-toggle="tooltip" title="Matches in approval queue">
                                <%= league.matchQueue.length %>
                              </span>
                            </span>
                            <% } %>
                            <a class="btn btn-primary ml-sm-2" href="/league-admin/<%=league._id%>">Admin</a>
                            <% } %>
                            <a class="btn btn-primary ml-sm-2" href="/leagues/<%=league._id%>">Details</a>
                            <% if (currentUser._id.equals(league.creator)) { %>
                            <!-- Delete league button -->
                            <span role="button" class="btn btn-danger btn-sm ml-sm-2" 
                                data-toggle="modal" data-target="#deleteConfirmModal"
                                data-deletetype="league"
                                data-league="<%=league._id%>"
                                data-leaguename="<%=league.name%>">
                                    <i class="fas fa-trash-alt"></i>
                            </span>
                            <% } %>
                          </span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <% }); %>
            </div>
            <!-- TBD: Archived leagues -->
            <!--<div class="tab-pane fade" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab"><h2>Archived leagues</h2></div>-->
          </div>
        </div>
      </div>
    </div>
    
    </div>
<script src="/javascript/dashboard.js" nonce="<%=nonce%>" defer></script>
<%- include('../partials/footer'); -%>