<%- include('../partials/header'); -%>
<%- include('../partials/navbar'); -%>

    <div class="container mb-4">
      <div class="container-fluid mb-4 shadow-sm p-3 mb-5 bg-white rounded">
        <h5>Player name</h5>
        <p><%= currentUser.playerName %></p>
        <a class="btn btn-link" href="#">Change player name</a>
      </div>
      <div class="container-fluid shadow-sm p-3 mb-5 bg-white rounded">
        <h5>Change password</h5>
        <form id="changePasswordForm" action="/users/<%=currentUser._id%>/change-password" method="post" class="needs-validation" novalidate>
          <div class="form-row mb-4 position-relative">
            <label for="oldPassword" class="col-form-label col-lg-2">Current password:</label>
            <input class="form-control col-lg-10" type="password" id="oldPassword"
              pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[a-zA-Z]).{8,64}$" 
              name="oldPassword" placeholder="Enter old password..." required />
            <div class="valid-feedback feedback-icon"><i class="fa fa-check"></i></div>
            <div class="invalid-feedback feedback-icon"><i class="fa fa-times"></i></div>
            <div class="invalid-tooltip">Invalid password format.</div>
          </div>
          <div class="form-row mb-4  position-relative">
            <label for="newPassword" class="col-form-label col-lg-2">New password:</label>
            <input class="form-control col-lg-10" 
              pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[a-zA-Z]).{8,64}$" 
              type="password" id="newPassword" name="newPassword" 
              placeholder="Enter new password..." required />
            <div class="valid-feedback feedback-icon"><i class="fa fa-check"></i></div>
            <div class="invalid-feedback feedback-icon"><i class="fa fa-times"></i></div>
            <div class="invalid-tooltip">Minimum 8 (maximum 64) characters, must contain at least one uppercase, one lowercase letter and one number.</div>
          </div>
          <div class="form-row mb-4 position-relative">
            <label for="confirmNewPassword" class="col-form-label col-lg-2">Confirm new password:</label>
            <input class="form-control col-lg-10 position-relative" 
              pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[a-zA-Z]).{8,64}$" 
              type="password" id="confirmNewPassword" name="confirmNewPassword" 
              placeholder="Confirm new password..." required />
            <div class="valid-feedback feedback-icon"><i class="fa fa-check"></i></div>
            <div class="invalid-feedback feedback-icon"><i class="fa fa-times"></i></div>
            <div class="invalid-tooltip">Passwords don't match</div>
          </div>
          <button id="changePasswordSubmitButton" class="btn btn-primary" disabled>Change password</button>
        </form>
      </div>
      <div class="container-fluid shadow-sm p-3 mb-5 bg-white rounded">
        <h5>Invite a friend</h5>
        <form id="inviteEmailForm" class="needs-validation">
          <div class="form-row mb-4 position-relative">
            <label for="inviteEmail" class="col-form-label col-lg-2">Email address:</label>
            <input type="email" class="form-control col-lg-10 position-relative" id="inviteEmail" name="inviteEmail" 
                    placeholder="Enter your friend's email address..." required>
          </div>
          <div class="form-row">
            <button id="inviteEmailSubmitButton" class="btn btn-primary">Send invite</button><span class="ml-4 align-self-center" id="inviteEmailFeedback"></span>
          </div>
            
          
        </form>
      </div>
      
    </div>
    

<script src="/javascript/profile.js" nonce="<%=nonce%>" defer></script>
<%- include('../partials/footer'); -%>