<%- include('../partials/header'); -%>
<%- include('../partials/navbar'); -%>


<!-- CONTENT -->
<div class="container">
    <h5>Match approval queue</h5>
    <table class="table table-bordered">
        <thead class="thead thead-light">
            <th class="col-sm-2">Date</th>
            <th class="col-sm-2">Added by</th>
            <th class="col-sm-2">Home player</th>
            <th class="col-sm-1">Score</th>
            <th class="col-sm-2">Away player</th>
            <th class="col-sm-1">Approve</th>
            <th class="col-sm-1">Reject</th>
        </thead>
        <tbody>
            <% if (league.matchQueue.length == 0) { %>
                <td colspan="7">Nothing to show here</td>
            <% } %>
            <% league.matchQueue.forEach((match) => { %>
            <tr id="queueRow-<%=match._id%>">
                <td><%=moment(match.date).format('YYYY. MM. DD')%></td>
                <td><%= match.addedBy.playerName %></td>
                <td><%= match.homeTeam.name %></td>
                <td>
                    <%= match.homeScore %> - <%= match.awayScore %> 
                </td>
                <td><%= match.awayTeam.name %></td>
                <td>
                    <button class="btn btn-success btn-sm approveMatchBtn" id="approveBtn-<%=match._id%>" data-league-id="<%=match.league%>" data-match-id="<%=match._id%>">
                        <i class="far fa-thumbs-up"></i>
                    </button>
                </td>
                <td>
                    <button class="btn btn-danger btn-sm rejectMatchBtn" id="rejectBtn-<%=match._id%>" data-league-id="<%=match.league%>" data-match-id="<%=match._id%>">
                        <i class="far fa-thumbs-down"></i>
                    </button>
                </td>
            </tr>
            <% }) %>
        </tbody>
    </table>

</div>

<script src="/javascript/leagueadmin.js" nonce="<%=nonce%>" defer></script>

<%- include('../partials/footer'); -%>